# Virtual Environment
venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment variables
.env

# Trained models
models/*.pkl

# Processed data
#data/processed/

# OS files
.DS_Store
Thumbs.db